.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.total-counter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-dec{
  background-color: red;
  margin: 10px;
  border-color: red;
  border-width: 0px;
  height: 20px;
  width: 40px;
}

.button-inc{
  background-color: greenyellow;
  margin: 10px;
  border-color: red;
  border-width: 0px;
  height: 20px;
  width: 40px;
}
